.container-fluid{
	background-color: #ebecfd;
}

div.card.text-center{
	background-color:  #F8F8FF;
	color: #87d300;
}

div.card-header{
	background-color: #00b0b2;
	color: #ffffff;
}

nav.nav.nav-pills{
	background-color:  #cac612;
}

button.btn.btn-primary{
	background-color: #e95191;
	border-color: #e95191;
}

button.btn.btn-primary.btn-sm{
	background-color: #cac612;
	border-color: #cac612;
}

div.card.text-white.bg-info.mb-3{
	background-color: #ff4200!important;
}

header .card-header{
	font-size: 1.2rem;
}

header .card-title{
	font-size: 4rem;
	margin-bottom: 0px;
}

header .card-text{
	font-size: 1.8rem;
}

header i{
	text-align: center;
	font-size: 2rem;
	padding: 0px 60px; 
}

nav	a {
  font-family: 'Slabo 27px', serif;
  font-size: 1.2rem;
  color: #ffffff;
}

.dos img{
	height: 230px;
}

.bg-info{
	margin-top: 15px;
	height: 240px;
}

.row{
	margin-top: 15px;
}

footer{
	margin-top: 15px;
	text-align: center;
}

i {
	text-align: center;
	font-size: 6rem;
	padding: 0px 60px; 
}

.modal{
	color: #000000;
}

footer .btn.btn-link{
  font-family: 'Slabo 27px', serif;
  font-size: 1.5rem;
  color: #ffffff;
}

.card-title{
	font-family: 'Roboto Slab', serif;
	font-weight: bold;
}

.card-text{
	font-family: 'Slabo 27px', serif;
}

div.card.uno{
	margin-bottom: 15px;
}

.btn.btn-secondary{
	background-color: #00b0b2;
}

#galeria{
	margin-top: 15px;
}

article .btn.btn-link{
  font-family: 'Slabo 27px', serif;
  font-size: 1.5rem;
  color: #ffffff;
}

.mb-0{
	text-align: center!important;
}

div.card-header.dos{
	background-color: #87d300;
}

#mapa{
	width: 1000px;
	height: 400px;
}

.video{
	width: 100%;
	height: 300px;
}


@media (max-width: 1200px){

            i {
             padding: 0px 30px;
	         font-size: 4rem;
	        }

            #mapa{
	         width: 800px;
	         height: 350px;
            }
}


@media (max-width: 800px){

            i {
      	       padding: 0px 10px;
	           font-size: 2rem;
	        }

	        header i{
		       padding: 0px 10px;
	        }

	        header .card-header{
	           font-size: 0.8rem;
            }

            header .card-title{
	            font-size: 2rem;
	            margin-bottom: 0px;
            }

            header .card-text{
	            font-size: 0.9rem;
            }

            nav a{
    	        font-size: 1rem;
    	    } 

            #mapa{
	            width: 400px;
	            height: 200px;
            }
}

